---
import Layout from '../layouts/Layout.astro'
import {
	FullWidthText,
	Hero,
	Image,
	PreviousWinners,
	TwoColumnText,
} from '../sections'
import useApi from '../modules/api';
import { Homepage } from '../queries';

const { useQuery } = useApi();

const data = await useQuery(Homepage);

const sections = data?.data?.homepage?.page_builder ?? []
---

<Layout title="Welcome to Astro.">
	<main>
		{sections.map(section => {
			switch(section.item.__typename) {
				case 'full_width_text':
					return <FullWidthText fields={section.item} />
				case 'hero':
					return <Hero fields={section.item} />
				case 'image':
					return <Image fields={section.item} />
				case 'previous_winners':
					return <PreviousWinners fields={section.item} />
				case 'two_column_text':
					return <TwoColumnText fields={section.item} />
			}
		})}
	</main>
</Layout>
