---
import Layout from '../layouts/Layout.astro'
import {
	FullWidthText,
	Hero,
	Image,
	PreviousWinners,
	TwoColumnText,
} from '../sections'
import useApi from '../modules/api'
import { Homepage, WebsiteSettings } from '../queries'

const { useQuery } = useApi()

const pageData = await useQuery(Homepage)
const websiteSettings = await useQuery(WebsiteSettings)

const sections = pageData?.data?.homepage?.page_builder ?? []
const hasIcons = websiteSettings?.data?.website_settings?.social_icons ?? []

const icons = hasIcons.map(icon => {
	return {
		...icon.social_icons_id
	}
})
---

<Layout title="Welcome to Astro." icons={icons}>
	<main>
		{sections.map(section => {
			switch(section.item.__typename) {
				case 'full_width_text':
					return <FullWidthText fields={section.item} />
				case 'hero':
					return <Hero fields={section.item} />
				case 'image':
					return <Image fields={section.item} />
				case 'previous_winners':
					return <PreviousWinners fields={section.item} />
				case 'two_column_text':
					return <TwoColumnText fields={section.item} />
			}
		})}
	</main>
</Layout>
