---
import Container from "../components/Container.astro";
import { TextBody } from "../components/Typography";
import AppStoreButtons from "../components/AppStoreButtons.astro";

const { bgImage, logo, screens = [], id = "" } = Astro.props;

const getTextColour = (index) => {
  switch (index) {
    case 0:
      return "text-blue";
    case 1:
      return "text-pink";
    case 2:
      return "text-yellow-dark";
    case 3:
      return "text-green";
  }
};
---

<section
  style={`background-image: url('${bgImage}')`}
  class="pt-14 pb-[194px] bg-cover bg-bottom bg-white max-w-full overflow-hidden"
  id={id}
>
  <Container>
    <div
      class="w-full max-w-[1050px] mx-auto flex flex-col items-center text-center mb-14"
    >
      <img src={logo} class="h-[97px] mb-14" />
      <slot name="top-content" />
    </div>
    <div class="mb-16 splide app-slider xl:px-9">
      <div class="splide__track">
        <ul class="splide__list">
          {
            screens.map((screen, index) => (
              <li class:list={[getTextColour(index), "splide__slide"]}>
                <div class="font-bold mb-6 text-center">
                  <TextBody>{screen.title}</TextBody>
                </div>
                <div class="w-full relative">
                  <div class="absolute inset-0 rounded-[15%] shadow-lg" />
                  <img
                    src={screen.image}
                    alt="App Screen"
                    class="w-full h-auto relative z-10"
                  />
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div
      class="w-full max-w-[1050px] mx-auto flex flex-col items-center text-center mb-10"
    >
      <div class="mb-10">
        <slot name="bottom-content" />
      </div>
      <AppStoreButtons />
    </div>
  </Container>
</section>
