---
import Container from "../components/Container.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Button from "../components/Button.astro";
import { TextHeaderMedium, TextBodySmall } from "../components/Typography";
import Menu from "../components/Menu.svelte";
import useApi from "../modules/api";

const { useImage } = useApi();

const defaultDescription =
  "LitterLotto® is a free to enter Prize Draw, with regular spot prizes and huge jackpots, supported by the brands that want a cleaner environment. To enter, simply use the app to take a picture of litter as you place it in the bin. Each time you submit a new piece of litter it's another chance to win!";

const {
  title,
  icons,
  headerButtons,
  footerLinks,
  description = defaultDescription,
} = Astro.props;

let isWorkWithUsModalOpen = false;
---

<!DOCTYPE html>
<html lang="en" class="h-full text-base font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#a2d929"
    />
    <meta name="msapplication-TileColor" content="#08122c" />
    <meta name="theme-color" content="#08122c" />

    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/hyi3ttn.css" />
    <meta name="description" content={description} />

    <!-- OG tags -->
    <meta property="og:url" content="https://litterlotto.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LitterLotto" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@LitterLotto" />
    <meta name="twitter:author" content="@LitterLotto" />
    <meta name="twitter:image" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "649238053366616");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=649238053366616&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Meta Pixel Code -->
  </head>
  <body class="min-h-full bg-grey relative flex flex-col">
    <div
      class="w-full flex-1 flex flex-col mx-auto max-w-[1920px] shadow-lg bg-white"
    >
      <header
        class="sticky z-50 w-100 h-16 md:h-[82px] top-0 right-0 left-0 bg-green text-white flex items-center"
      >
        <Container>
          <div class="flex items-center justify-start gap-8">
            <div class="mr-auto pb-1">
              <a href="/">
                <img
                  src="/logo-white.svg"
                  alt="LitterLotto Logo"
                  class="h-8 md:h-11 w-auto"
                />
              </a>
            </div>

            <Menu client:load>
              <div
                class="flex flex-col lg:flex-row space-y-9 lg:space-y-0 lg:space-x-9"
              >
                <Button colour="light" href="#our-mission">Our Mission</Button>
                <Button
                  colour="light"
                  href="https://intercom.help/litterlotto/en/collections/3057665-faq-s"
                  >FAQs</Button
                >
              </div>
            </Menu>
          </div>
        </Container>
      </header>
      <main class="flex-1">
        <slot />
      </main>
      <div>
        <div
          id="work-with-us-modal"
          class={`w-screen h-screen top-0 left-0 fixed z-[1000] overflow-y-scroll transition-opacity duration-300 opacity-0 pointer-events-none`}
        >
          <div
            class="w-full flex flex-col justify-center items-center relative"
          >
            <span
              id="background"
              class="w-full min-h-full bg-black/[.4] absolute top-0 left-0"
            ></span>

            <div
              id="work-with-us-error"
              class="top-4 transform fixed left-1/2 -translate-x-1/2 transition-[opacity,transform] duration-500 opacity-0 pointer-events-none -translate-y-5 bg-[#fca5a5] text-[#991b1b] px-3 py-2 rounded-lg text-sm text-center z-[1000]"
            >
              There was an error submitting the form. <br /> Please try again.
            </div>

            <div
              id="work-with-us-success"
              class="top-4 transform fixed left-1/2 -translate-x-1/2 transition-[opacity,transform] duration-500 opacity-0 pointer-events-none -translate-y-5 bg-[#86efac] text-[#166534] px-3 py-2 rounded-lg text-sm text-center z-[1000]"
            >
              Request Received. Thank you!
            </div>

            <div class="h-40 flex-shrink-0 w-full"></div>
            <div
              class="bg-navy rounded-md shadow-xl px-4 py-16 xs:px-12 sm:px-16 md:p-20 max-w-[calc(100%-30px)] sm:max-w-[calc(100%-60px)] w-[600px] relative z-50 flex-shrink-0"
            >
              <button
                id="close"
                class="w-6 h-6 absolute top-6 right-6 before:w-7 before:h-[2px] before:absolute before:left-[-2px] before:rotate-45 before:top-1/2 before:transform before:-translate-y-1/2 before:bg-white after:w-[28px] after:h-[2px] after:absolute after:left-[-2px] after:-rotate-45 after:top-1/2 after:transform after:-translate-y-1/2 after:bg-white"
              ></button>
              <h3
                class="text-white text-body sm:text-body-lead font-black uppercase"
              >
                Partner with us
              </h3>
              <p class="text-white text-body-small mt-3">
                Want to partner with us? Fill out the form below and we'll be in
                touch.
              </p>
              <div class="flex flex-col w-full mt-6">
                <label class="text-white text-[12px]">Name</label>
                <input
                  name="name"
                  class="w-full py-3 border-b-2 border-b-white bg-transparent text-white"
                  placeholder="Name"
                />
              </div>
              <div class="flex flex-col w-full mt-6">
                <label class="text-white text-[12px]">Email</label>
                <input
                  name="email"
                  class="w-full py-3 border-b-2 border-b-white bg-transparent text-white"
                  placeholder="Email"
                />
              </div>
              <div class="flex flex-col w-full mt-6">
                <label class="text-white text-[12px]">Organisation</label>
                <input
                  name="organisation"
                  class="w-full py-3 border-b-2 border-b-white bg-transparent text-white"
                  placeholder="Organisation"
                />
              </div>
              <div class="flex flex-col w-full mt-6">
                <label class="text-white text-[12px]">Message / Enquiry</label>
                <textarea
                  name="message"
                  class="w-full py-3 border-b-2 border-b-white bg-transparent h-40 resize-none text-white"
                  placeholder="Message"></textarea>
              </div>
              <div class="flex flex-col w-full mt-12">
                <button
                  id="work-with-us-submit"
                  class="w-full py-3 bg-green-light text-navy"
                >
                  Submit
                </button>
              </div>
            </div>
            <div class="h-40 flex-shrink-0 w-full"></div>
          </div>
        </div>
        <footer class="flex-shrink-1 flex-grow-0 text-center text-white">
          <div class="bg-navy pb-16">
            <Container>
              <div class="space-y-4">
                <div class="text-green mb-12">
                  <TextHeaderMedium>
                    <span class="font-black">Get social with us!</span>
                  </TextHeaderMedium>
                </div>
                <div class="flex items-center justify-center space-x-9">
                  {
                    icons.map((icon) => (
                      <a href={icon.url} target="_blank">
                        <img src={useImage(icon.icon)} alt={icon.name} />
                      </a>
                    ))
                  }
                  <a
                    href="https://facebook.com/litterlotto"
                    target="_blank"
                    class="text-white"
                  >
                    <img src="/icon-facebook.svg" />
                  </a>
                  <a href="https://twitter.com/litterlotto" target="_blank">
                    <img src="/icon-twitter.svg" />
                  </a>
                  <a href="https://instagram.com/litterlotto" target="_blank">
                    <img src="/icon-instagram.svg" />
                  </a>
                  <a href="https://www.tiktok.com/@litterlotto" target="_blank">
                    <img src="/icon-tiktok.svg" />
                  </a>
                </div>
              </div>
            </Container>
          </div>
          <div class="bg-green py-10">
            <Container>
              <div class="flex flex-col space-y-8 items-center font-semibold">
                <img
                  src="/logo-white.svg"
                  alt="LitterLotto Logo"
                  class="h-[53px] mb-2"
                />
                <ul
                  class="flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-8 justify-center"
                >
                  {
                    footerLinks.map((link) => (
                      <li>
                        <a
                          href={link.url}
                          target="_blank"
                          class="transition-opacity text-white hover:opacity-75"
                        >
                          <TextBodySmall>{link.text}</TextBodySmall>
                        </a>
                      </li>
                    ))
                  }
                  <li>
                    <button
                      id="work-with-us"
                      class="transition-opacity text-white hover:opacity-75"
                    >
                      <TextBodySmall>Work with us</TextBodySmall>
                    </button>
                  </li>
                </ul>
                <TextBodySmall
                  >&copy; LitterLotto {new Date().getFullYear()}
                </TextBodySmall>
              </div>
              <div
                class="flex flex-col md:flex-row items-center justify-center md:justify-between space-y-8 md:space-y-0 md:space-x-8 text-center md:text-left"
              >
                <div
                  class="flex flex-col text-center md:text-left items-center md:items-start"
                >
                </div>
              </div>
            </Container>
          </div>
        </footer>
      </div>
      <script>
        window.intercomSettings = {
          app_id: "odj361d5",
        };
      </script>

      <script>
        // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/odj361d5'
        (function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === "function") {
            ic("reattach_activator");
            ic("update", w.intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments);
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args);
            };
            w.Intercom = i;
            var l = function () {
              var s = d.createElement("script");
              s.type = "text/javascript";
              s.async = true;
              s.src = "https://widget.intercom.io/widget/odj361d5";
              var x = d.getElementsByTagName("script")[0];
              x.parentNode.insertBefore(s, x);
            };
            if (w.attachEvent) {
              w.attachEvent("onload", l);
            } else {
              w.addEventListener("load", l, false);
            }
          }
        })();
      </script>
    </div>
  </body>
</html>

<script>
  import { error } from "astro/dist/core/logger/core";

  let errorTimeout,
    successTimeout = null;

  document.querySelector("#work-with-us").addEventListener("click", () => {
    document
      .querySelector("#work-with-us-modal")
      .classList.remove("opacity-0", "pointer-events-none");
    document.documentElement.style.overflowY = "hidden";
  });

  document.querySelector("#background").addEventListener("click", () => {
    document
      .querySelector("#work-with-us-modal")
      .classList.add("opacity-0", "pointer-events-none");
    document.documentElement.style.overflowY = "";
  });

  document.querySelector("#close").addEventListener("click", () => {
    document
      .querySelector("#work-with-us-modal")
      .classList.add("opacity-0", "pointer-events-none");
    document.documentElement.style.overflowY = "";
  });

  const submitForm = async (name, email, organisation, message) => {
    document
      .querySelector("#work-with-us-submit")
      .classList.add("opacity-50", "pointer-events-none");

    const response = await fetch("/submit-form", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: name.value,
        email: email.value,
        organisation: organisation.value,
        message: message.value,
      }),
    });

    document
      .querySelector("#work-with-us-submit")
      .classList.remove("opacity-50", "pointer-events-none");

    if (response.ok) {
      const data = await response.json();

      //clear inputs
      name.value = "";
      email.value = "";
      organisation.value = "";
      message.value = "";

      //close form
      document
        .querySelector("#work-with-us-modal")
        .classList.add("opacity-0", "pointer-events-none");
      document.documentElement.style.overflowY = "";

      //display success
      document
        .querySelector("#work-with-us-success")
        .classList.remove("opacity-0", "pointer-events-none", "-translate-y-5");

      if (successTimeout) window.clearTimeout(successTimeout);

      successTimeout = window.setTimeout(() => {
        document
          .querySelector("#work-with-us-success")
          .classList.add("opacity-0", "pointer-events-none", "-translate-y-5");
      }, 4000);

      return;
    }

    const errorText = await response.text();

    if (errorText === "Error: invalidPayload") {
      document.querySelector("#work-with-us-error").innerHTML =
        "There was an error submitting the form. <br/> All fields must be entered.";
    } else {
      document.querySelector("#work-with-us-error").innerHTML =
        "There was an error submitting the form. <br/> Please try again";
    }

    //display error
    document
      .querySelector("#work-with-us-error")
      .classList.remove("opacity-0", "pointer-events-none", "-translate-y-5");

    if (errorTimeout) window.clearTimeout(errorTimeout);

    errorTimeout = window.setTimeout(() => {
      document
        .querySelector("#work-with-us-error")
        .classList.add("opacity-0", "pointer-events-none", "-translate-y-5");
    }, 4000);
  };

  document
    .querySelector("#work-with-us-submit")
    .addEventListener("click", () => {
      const name = document.querySelector(
        "#work-with-us-modal input[name=name]"
      );
      const email = document.querySelector(
        "#work-with-us-modal input[name=email]"
      );
      const organisation = document.querySelector(
        "#work-with-us-modal input[name=organisation]"
      );
      const message = document.querySelector(
        "#work-with-us-modal textarea[name=message]"
      );

      submitForm(name, email, organisation, message);
    });
</script>
