---
import Container from "../components/Container.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Button from "../components/Button.astro";
import { TextHeaderMedium, TextBodySmall } from "../components/Typography";
import Menu from "../components/Menu.svelte";
import useApi from "../modules/api";

const { useImage } = useApi();

const { title, icons, headerButtons, footerLinks } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full text-base font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/hyi3ttn.css" />
    <meta name="description" content="" />

    <!-- OG tags -->
    <meta property="og:url" content="https://litterlotto.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LitterLotto" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@LitterLotto" />
    <meta name="twitter:author" content="@LitterLotto" />
    <meta name="twitter:image" content="" />
  </head>
  <body class="min-h-full bg-grey relative flex flex-col">
    <div
      class="w-full flex-1 flex flex-col mx-auto max-w-[1920px] shadow-lg bg-white"
    >
      <header
        class="sticky z-50 w-100 h-16 md:h-[82px] top-0 right-0 left-0 bg-green text-white flex items-center"
      >
        <Container>
          <div class="flex items-center justify-start gap-8">
            <div class="mr-auto pb-1">
              <a href="/">
                <img
                  src="/logo-white.svg"
                  alt="LitterLotto Logo"
                  class="h-8 md:h-11 w-auto"
                />
              </a>
            </div>

            <Menu client:load>
              <div
                class="flex flex-col lg:flex-row space-y-9 lg:space-y-0 lg:space-x-9"
              >
                <Button colour="light" href="#our-mission">Our Mission</Button>
                <Button
                  colour="light"
                  href="https://intercom.help/litterlotto/en/collections/3057665-faq-s"
                  >FAQs</Button
                >
              </div>
            </Menu>
          </div>
        </Container>
      </header>
      <main class="flex-1">
        <slot />
      </main>
      <footer class="flex-shrink-1 flex-grow-0 text-center text-white">
        <div class="bg-navy pb-16">
          <Container>
            <div class="space-y-4">
              <div class="text-green mb-12">
                <TextHeaderMedium>
                  <span class="font-black">Get social with us!</span>
                </TextHeaderMedium>
              </div>
              <div class="flex items-center justify-center space-x-9">
                {
                  icons.map((icon) => (
                    <a href={icon.url} target="_blank">
                      <img src={useImage(icon.icon)} alt={icon.name} />
                    </a>
                  ))
                }
                <a
                  href="https://facebook.com/litterlotto"
                  target="_blank"
                  class="text-white"
                >
                  <img src="/icon-facebook.svg" />
                </a>
                <a href="https://twitter.com/litterlotto" target="_blank">
                  <img src="/icon-twitter.svg" />
                </a>
                <a href="https://instagram.com/litterlotto" target="_blank">
                  <img src="/icon-instagram.svg" />
                </a>
                <a href="https://www.tiktok.com/@litterlotto" target="_blank">
                  <img src="/icon-tiktok.svg" />
                </a>
              </div>
            </div>
          </Container>
        </div>
        <div class="bg-green py-10">
          <Container>
            <div class="flex flex-col space-y-8 items-center font-semibold">
              <img
                src="/logo-white.svg"
                alt="LitterLotto Logo"
                class="h-[53px] mb-2"
              />
              <ul
                class="flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-8 justify-center"
              >
                {
                  footerLinks.map((link) => (
                    <li>
                      <a
                        href={link.url}
                        target="_blank"
                        class="transition-opacity text-white hover:opacity-75"
                      >
                        <TextBodySmall>{link.text}</TextBodySmall>
                      </a>
                    </li>
                  ))
                }
              </ul>
              <TextBodySmall
                >&copy; LitterLotto {new Date().getFullYear()}
              </TextBodySmall>
            </div>
            <div
              class="flex flex-col md:flex-row items-center justify-center md:justify-between space-y-8 md:space-y-0 md:space-x-8 text-center md:text-left"
            >
              <div
                class="flex flex-col text-center md:text-left items-center md:items-start"
              >
              </div>
            </div>
          </Container>
        </div>
      </footer>
    </div>
  </body>
</html>
